asyncpg==0.30.0
fastapi==0.115.8
google_api_python_client==2.125.0
llama_index==0.12.19
numpy==1.24.3
pandas==1.1.5
faiss-cpu==1.8.0
pydantic>=2.8.0
ray==2.10.0
Requests==2.32.3
sentence_transformers==2.6.1
torch==2.4.0+cu121
tqdm==4.66.2
banks<2.4.0
pyarrow<15.0.0
matplotlib
pytest
pre-commit
